.about-container {
    max-width: 960px;
    margin: auto;
    padding: 1rem;
}

.about-image img{
    width: 100%;
    height: auto;
}

.about-header__title {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.about-header__title h3{
    font-weight: 300;
    font-size: 3rem;
    margin-left: 3rem;
}

@media only screen and (max-width: 600px) {
    .about-header__title h3 {
        margin-left: 0;
    }
}