.blog-header {
    height: 40vh;
    background-color: #1a1a1ada;
    padding: 0 1.0875rem;
}

.blog-header__post {
    max-width: 1200px;
    margin: auto;
}

.blog-header__post h1 {
    color: #e2e2e2;
}

.categories-container {
    max-width: 960px;
    margin: auto;
    padding: 0 1.0875rem;
    text-align: center;
}

.categories-container p {
    margin-bottom: 10px;
}

.categories-items__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories-items {
    padding: .4rem 1rem;
}

.categories-items a{
    text-decoration: none;
    color: #d33c65;
}

.categories-items a:hover {
    text-decoration: underline dashed;
}

.blog-category {
    font-size: 1.8rem;
}

.newsletter-container {
    height: 60vh;
    background-color: #1a1a1a;
    padding: 0 1.0875rem;
}

.posts-container {
    max-width: 840px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .blog-header{
        height: 30vh;
    }
}