.nav-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 1.0875rem 1.45rem .8rem;
    color: #ffffff;
}

.nav a {
    text-decoration: none;
    color: #ffffffda;
}

.page-nav a {
    text-decoration: none;
    color: #353535;
}