.blog-item {
    text-align: start;
}

.blog-item h3{
    font-size: 2rem;
    font-weight: 300;
    color: #1a1a1a!important;
    margin-bottom: .8rem;
    transition: .4s ease;
}

.blog-item h3:hover {
    color: #d33c65!important;
}

.blog-item p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.blog-item a{
    text-decoration: none;
}

.blog-item img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 1rem;
}

.blog-item--meta {
    display: flex;
    margin-bottom: 1rem;
    font-size: .8rem;
    color: #1a1a1aa6;
}

.blog-item--date {
    margin-right: .4rem;
}

.blog-item--category {
    font-size: .8rem;
}